<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/img/Footer_KFC_Logo.webp" alt="KFC Logo">
        </div>
        <div class="footer-bottom">
            <a href="">
                <p class="footer-legal">Privacy Policy • Terms of Use • Cookies & Ads Policy • Site Map</p>
            </a>
            <a href="">
                <p class="footer-copyright">Copyright © KFC Canada. 2024 All Rights Reserved.</p>
            </a>
        </div>
        <div class="footer-social">
            <a href=""><img src="/img/instagram-icon.webp" alt="Instagram"></a>
            <a href=""><img src="/img/x-icon.webp" alt="X"></a>
            <a href=""><img src="/img/facebook-icon.webp" alt="Facebook"></a>
            <a href=""><img src="/img/youtube-icon.webp" alt="YouTube"></a>
            <a href=""><img src="/img/tiktok-icon.webp" alt="TikTok"></a>
        </div>
    </div>
</footer>