<header>
    <div class="heder_left">
        <img src="/img/kfcLogo.svg" alt="KFC LOGO">
        <a href="">Menu</a>
        <a href="">Orders</a>
        <a href="">Delivery</a>
        <a href="">Admin Panel</a>
    </div>
    <a href="/signin"><div class="account-container" data-testid="account-container"><img loading="lazy"
            src="/img/Account_Icon.svg"
            alt="" class="account-icon"><span class="sign-in-text ">Sign In</span></div></a>
</header>