<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFC</title>
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/restaurant.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        <%- include('partials/header') %>
        <div class="main">
            <div class="restaurant_info">
                <img src="/img/MapLocation.svg" alt="location-icon"
                    class="content-location-img">
                <p>Restaurant Address: 900 Dufferin Street (Street level)</p>
                <img src="/img/clock.svg" alt="location-icon"
                    class="clock-img">
                <p>Working Hour: 9:00am - 5:00pm</p>
            </div>
            <div class="menu_head">
                <img src="/img/Stripes_OffersIcon.svg" alt=""
                    class="stripes-img">
                <h1 class="kfc-menu-title">MENU</h1>
            </div>
            <div class="menu_items">
                <% for (i=1; i < 20; i++) {%>
                    <a href="/order_form/<%=i%>">
                        <div class="menu_item">
                            <img
                                src="/img/KFC_CA_Family_Bucket_Feast.png">
                            <div class="caption">
                                <h3>Family Bucket Feast</h3>
                                <p>$49.99</p>
                                <p>1180 Cals/Person Serves 5</p>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
</body>

</html>