/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Wrapper with Border for both Image and Info */
.content-wrapper {
    display: flex;
    align-items: flex-start;
    border-radius: 15px;
    overflow: hidden; /* Ensure the border contains both sections */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

/* Image Section */
.image-section {
    flex: 1;
    padding-right: 30px;
}

.meal-image {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease; /* Smooth transition on hover */
}

/* Hover Effect */
.meal-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}

/* Info Section */
.info-section {
    flex: 1;
    padding: 30px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
    color: #ce292e;
}

strong {
    color: #333;
    font-size: large;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .image-section {
        padding-right: 0;
        text-align: center;
    }
}