:root {
  --primary: #e4002b;
  --secondary: #13181f;
  --white: #fff;
  --black: #000;
}

button.large {
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .3s ease;
}

button.primary {
  background-color: var(--primary);
}

button.primary:hover {
  background-color: #E03E00;
}